
<div class="clr-row clr-justify-content-center">
    <ng-template *ngIf="years.length === 0; then loadingBlock else mainBlock"></ng-template>
    <ng-template #loadingBlock>
        <div class="clr-col-auto">
            <span class="spinner spinner-inline">
                Loading...
            </span>

            <span>
                Loading...
            </span>
        </div>
    </ng-template>
    <ng-template #mainBlock>
        <div class="clr-col" *ngFor="let year of years">
            <a href="/{{mag}}/{{year}}" class="card clickable">
                <div class="card-block clr-justify-content-center">
                    <h1 class="card-text">{{year}}</h1>
                </div>
            </a>
        </div>
        <div class="clr-col">
            <a href="/{{mag}}/all" class="card clickable">
                <div class="card-block clr-justify-content-center">
                    <h1 class="card-text">Wszystkie</h1>
                </div>
            </a>
        </div>
    </ng-template>
</div>
<div class="clr-row clr-justify-content-center">
    <button class="clickable clr-col-auto button-back" (click)="goBack()" (mouseenter)="changeHover()" (mouseleave)="changeHover()"><clr-icon shape="step-forward-2" [className]=" isHover ? 'hovered': ''" flip="horizontal" title="Go back" size="36"></clr-icon></button>
</div>
